* {
  font-family: Courier New; }

.a {
  background-color: #EEEEEE;
  width: 100%;
  height: 100%;
  margin: -8px;
  position: absolute; }
  .a .b .text {
    transform: translate(-50% -50%);
    right: 52%;
    top: 37%;
    position: absolute;
    font-size: 22px;
    transition: 1s;
    color: #373A40; }
  .a .b .image {
    transform: translate(-50% -50%);
    position: absolute;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 23%;
    border-radius: 50%;
    border: #ce834a solid 20px;
    transition: 1s; }

.info {
  background-color: #373A40;
  transform: translate(-50% -50%);
  position: absolute;
  top: 100%;
  width: 100%;
  height: 2700px;
  right: -0px;
  font-size: 20px; }
  .info .personal {
    position: absolute;
    transform: translate(-50% -50%);
    color: #ce834a;
    width: 90%;
    padding-top: 50px;
    margin-left: 10%; }
  .info .personalinfo {
    margin-top: 240px;
    transform: translate(-50% -50%); }
    .info .personalinfo h2 {
      color: #EEEEEE;
      display: flex;
      margin-left: 10%; }
      .info .personalinfo h2 .item {
        margin-left: 30px;
        margin-top: 0px;
        color: #ce834a; }
  .info .one {
    margin-top: 137px;
    color: #EEEEEE;
    background-color: #EEEEEE;
    height: 5px; }
  .info .lang {
    position: absolute;
    transform: translate(-50% -50%);
    color: #ce834a;
    width: 90%;
    padding-top: 50px;
    margin-left: 10%; }
  .info .language {
    margin-top: 220px;
    transform: translate(-50% -50%); }
    .info .language h2 {
      color: #EEEEEE;
      display: flex;
      margin-left: 10%;
      margin-top: 70px; }
      .info .language h2 .ar {
        position: absolute;
        width: 50%;
        height: 10px;
        background-color: #EEEEEE;
        border-radius: 10px;
        left: 35%;
        top: 831px; }
        .info .language h2 .ar div {
          width: 85%;
          height: 100%;
          background-color: #ce834a;
          border-radius: 10px; }
      .info .language h2 .tr {
        position: absolute;
        width: 50%;
        height: 10px;
        background-color: #EEEEEE;
        border-radius: 10px;
        left: 35%;
        top: 934px; }
        .info .language h2 .tr div {
          width: 80%;
          height: 100%;
          background-color: #ce834a;
          border-radius: 10px; }
      .info .language h2 .en {
        position: absolute;
        width: 50%;
        height: 10px;
        background-color: #EEEEEE;
        border-radius: 10px;
        left: 35%;
        top: 1037px; }
        .info .language h2 .en div {
          width: 50%;
          height: 100%;
          background-color: #ce834a;
          border-radius: 10px; }
  .info .two {
    margin-top: 137px;
    color: #EEEEEE;
    background-color: #EEEEEE;
    height: 5px; }
  .info .software {
    position: absolute;
    transform: translate(-50% -50%);
    color: #ce834a;
    width: 90%;
    padding-top: 50px;
    margin-left: 10%; }
  .info .skills {
    display: inline;
    flex-wrap: wrap;
    margin-top: 200px; }
    .info .skills .html {
      left: 10%;
      margin-top: 200px;
      width: 100px;
      margin-left: 10%;
      margin-right: 20px; }
    .info .skills .css {
      margin-right: 20px;
      width: 100px; }
    .info .skills .sass {
      width: 100px;
      margin-right: 20px; }
    .info .skills .git {
      width: 100px;
      margin-right: 20px; }
    .info .skills .github {
      width: 100px;
      margin-right: 20px; }
  .info .three {
    position: absolute;
    top: 1700px;
    color: #EEEEEE;
    background-color: #EEEEEE;
    height: 5px;
    width: 100%; }
  .info .work {
    position: absolute;
    transform: translate(-50% -50%);
    color: #ce834a;
    width: 90%;
    padding-top: 50px;
    left: 10%;
    top: 1730px; }
  .info .xp {
    position: absolute;
    transform: translate(-50% -50%);
    color: #EEEEEE;
    width: 90%;
    padding-top: 50px;
    left: 10%;
    top: 1900px; }
  .info .four {
    position: absolute;
    top: 2100px;
    color: #EEEEEE;
    background-color: #EEEEEE;
    height: 5px;
    width: 100%; }
  .info .contact {
    position: absolute;
    transform: translate(-50% -50%);
    color: #ce834a;
    width: 90%;
    padding-top: 50px;
    margin-left: 10%;
    top: 2140px; }
  .info .contactinfo {
    transform: translate(-50% -50%);
    position: absolute;
    bottom: 100px;
    left: 10%; }
    .info .contactinfo h2 {
      color: #EEEEEE;
      display: flex; }
      .info .contactinfo h2 .item {
        margin-left: 30px;
        color: #ce834a; }

@media screen and (max-width: 1100px) {
  .a {
    width: 100%;
    height: 100%;
    margin: -8px;
    position: absolute; }
    .a .b .text {
      transform: translate(-50% -50%);
      right: 52%;
      top: 40%;
      position: absolute;
      font-size: 19px;
      transition: 1s;
      color: #373A40; }
    .a .b .image {
      transform: translate(-50% -50%);
      position: absolute;
      width: 400px;
      height: 400px;
      left: 50%;
      top: 27%;
      border-radius: 50%;
      border: #ce834a solid 20px;
      transition: 1s; } }
@media screen and (min-width: 1001px) {
  .text:hover {
    transform: translateY(-10px); }

  .image:hover {
    transform: translateY(-10px); } }
@media screen and (max-width: 1000px) {
  .a {
    width: 100%;
    height: 100%;
    margin: -8px;
    position: absolute; }
    .a .b .text {
      transform: translate(-50% -50%);
      right: 0%;
      left: 0%;
      top: 12%;
      position: absolute;
      font-size: 23px;
      text-align: center; }
    .a .b .image {
      transform: translate(-50%);
      position: absolute;
      width: 550px;
      height: 550px;
      left: 50%;
      top: 35%; }

  .info {
    font-size: 23px; }
    .info .language {
      margin-top: 220px;
      transform: translate(-50% -50%); }
      .info .language h2 {
        color: #EEEEEE;
        display: flex;
        margin-left: 10%;
        margin-top: 70px; }
        .info .language h2 .ar {
          position: absolute;
          width: 50%;
          height: 10px;
          background-color: #EEEEEE;
          border-radius: 10px;
          left: 35%;
          top: 866px; }
          .info .language h2 .ar div {
            width: 85%;
            height: 100%;
            background-color: #ce834a;
            border-radius: 10px; }
        .info .language h2 .tr {
          position: absolute;
          width: 50%;
          height: 10px;
          background-color: #EEEEEE;
          border-radius: 10px;
          left: 35%;
          top: 973px; }
          .info .language h2 .tr div {
            width: 80%;
            height: 100%;
            background-color: #ce834a;
            border-radius: 10px; }
        .info .language h2 .en {
          position: absolute;
          width: 50%;
          height: 10px;
          background-color: #EEEEEE;
          border-radius: 10px;
          left: 35%;
          top: 1080px; }
          .info .language h2 .en div {
            width: 50%;
            height: 100%;
            background-color: #ce834a;
            border-radius: 10px; } }
@media screen and (max-width: 800px) {
  .a {
    width: 100%;
    height: 100%;
    margin: -8px;
    position: absolute; }
    .a .b .text {
      transform: translate(-50% -50%);
      right: 0%;
      top: 20%;
      position: absolute;
      font-size: large;
      text-align: center; }
    .a .b .image {
      transform: translate(-50%);
      position: absolute;
      width: 400px;
      height: 400px;
      left: 50%;
      top: 40%; } }
@media screen and (max-width: 744.9px) {
  .a .b .text {
    font-size: large; }
  .a .b .image {
    width: 400px;
    height: 400px; }

  .github {
    width: 100px;
    margin-right: 20px;
    margin-left: 10%;
    margin-top: 20px; }

  .contactinfo {
    transform: translate(-50% -50%);
    position: absolute;
    bottom: 100px;
    left: 10%; }
    .contactinfo h2 {
      color: #EEEEEE;
      display: flex; }
      .contactinfo h2 .item {
        margin-left: 30px;
        color: #ce834a; } }
@media screen and (max-width: 650px) {
  .info {
    height: 3000px; }
    .info .contactinfo {
      transform: translate(-50% -50%);
      position: absolute;
      bottom: 0px;
      left: 10%;
      top: 2350px; }
      .info .contactinfo h2 {
        color: #EEEEEE;
        display: flex;
        flex-wrap: nowrap;
        margin-top: 50px;
        padding-bottom: 70px; }
        .info .contactinfo h2 .item {
          position: absolute;
          left: 0%;
          color: #ce834a; }
    .info .language {
      margin-top: 220px;
      transform: translate(-50% -50%); }
      .info .language h2 {
        color: #EEEEEE;
        display: flex;
        margin-left: 10%;
        margin-top: 70px; }
        .info .language h2 .ar {
          position: absolute;
          width: 50%;
          height: 10px;
          background-color: #EEEEEE;
          border-radius: 10px;
          left: 35%;
          top: 904px; }
          .info .language h2 .ar div {
            width: 85%;
            height: 100%;
            background-color: #ce834a;
            border-radius: 10px; }
        .info .language h2 .tr {
          position: absolute;
          width: 50%;
          height: 10px;
          background-color: #EEEEEE;
          border-radius: 10px;
          left: 35%;
          top: 1010px; }
          .info .language h2 .tr div {
            width: 80%;
            height: 100%;
            background-color: #ce834a;
            border-radius: 10px; }
        .info .language h2 .en {
          position: absolute;
          width: 50%;
          height: 10px;
          background-color: #EEEEEE;
          border-radius: 10px;
          left: 35%;
          top: 1120px; }
          .info .language h2 .en div {
            width: 50%;
            height: 100%;
            background-color: #ce834a;
            border-radius: 10px; } }
@media screen and (max-width: 650px) {
  .info .language {
    margin-top: 220px;
    transform: translate(-50% -50%); }
    .info .language h2 {
      color: #EEEEEE;
      display: flex;
      margin-left: 10%;
      margin-top: 70px; }
      .info .language h2 .ar {
        position: absolute;
        width: 50%;
        height: 10px;
        background-color: #EEEEEE;
        border-radius: 10px;
        left: 40%;
        top: 865px; }
        .info .language h2 .ar div {
          width: 85%;
          height: 100%;
          background-color: #ce834a;
          border-radius: 10px; }
      .info .language h2 .tr {
        position: absolute;
        width: 50%;
        height: 10px;
        background-color: #EEEEEE;
        border-radius: 10px;
        left: 40%;
        top: 973px; }
        .info .language h2 .tr div {
          width: 80%;
          height: 100%;
          background-color: #ce834a;
          border-radius: 10px; }
      .info .language h2 .en {
        position: absolute;
        width: 50%;
        height: 10px;
        background-color: #EEEEEE;
        border-radius: 10px;
        left: 40%;
        top: 1083px; }
        .info .language h2 .en div {
          width: 50%;
          height: 100%;
          background-color: #ce834a;
          border-radius: 10px; } }
@media screen and (max-width: 600px) {
  .git {
    margin-left: 10%;
    width: 100px;
    margin-right: 20px; }

  .github {
    width: 100px;
    margin-right: 20px;
    margin-left: 0px;
    margin-top: 20px; }

  .info {
    font-size: 18px; }
    .info .language {
      margin-top: 220px;
      transform: translate(-50% -50%); }
      .info .language h2 {
        color: #EEEEEE;
        display: flex;
        margin-left: 10%;
        margin-top: 70px; }
        .info .language h2 .ar {
          position: absolute;
          width: 50%;
          height: 10px;
          background-color: #EEEEEE;
          border-radius: 10px;
          left: 35%;
          top: 806px; }
          .info .language h2 .ar div {
            width: 85%;
            height: 100%;
            background-color: #ce834a;
            border-radius: 10px; }
        .info .language h2 .tr {
          position: absolute;
          width: 50%;
          height: 10px;
          background-color: #EEEEEE;
          border-radius: 10px;
          left: 35%;
          top: 907px; }
          .info .language h2 .tr div {
            width: 80%;
            height: 100%;
            background-color: #ce834a;
            border-radius: 10px; }
        .info .language h2 .en {
          position: absolute;
          width: 50%;
          height: 10px;
          background-color: #EEEEEE;
          border-radius: 10px;
          left: 35%;
          top: 1009px; }
          .info .language h2 .en div {
            width: 50%;
            height: 100%;
            background-color: #ce834a;
            border-radius: 10px; } }
@media screen and (max-width: 500px) {
  .info .language {
    margin-top: 220px;
    transform: translate(-50% -50%); }
    .info .language h2 {
      color: #EEEEEE;
      display: flex;
      margin-left: 10%;
      margin-top: 70px; }
      .info .language h2 .ar {
        position: absolute;
        width: 50%;
        height: 10px;
        background-color: #EEEEEE;
        border-radius: 10px;
        left: 40%;
        top: 808px; }
        .info .language h2 .ar div {
          width: 85%;
          height: 100%;
          background-color: #ce834a;
          border-radius: 10px; }
      .info .language h2 .tr {
        position: absolute;
        width: 50%;
        height: 10px;
        background-color: #EEEEEE;
        border-radius: 10px;
        left: 40%;
        top: 908px; }
        .info .language h2 .tr div {
          width: 80%;
          height: 100%;
          background-color: #ce834a;
          border-radius: 10px; }
      .info .language h2 .en {
        position: absolute;
        width: 50%;
        height: 10px;
        background-color: #EEEEEE;
        border-radius: 10px;
        left: 40%;
        top: 1007px; }
        .info .language h2 .en div {
          width: 50%;
          height: 100%;
          background-color: #ce834a;
          border-radius: 10px; } }
@media screen and (max-width: 480px) {
  #birth {
    margin-bottom: 50px; }

  #date {
    position: absolute;
    left: 3%;
    top: 280px; }

  .info .language {
    margin-top: 220px;
    transform: translate(-50% -50%); }
    .info .language h2 {
      color: #EEEEEE;
      display: flex;
      margin-left: 10%;
      margin-top: 70px; }
      .info .language h2 .ar {
        position: absolute;
        width: 50%;
        height: 10px;
        background-color: #EEEEEE;
        border-radius: 10px;
        left: 40%;
        top: 835px; }
        .info .language h2 .ar div {
          width: 85%;
          height: 100%;
          background-color: #ce834a;
          border-radius: 10px; }
      .info .language h2 .tr {
        position: absolute;
        width: 50%;
        height: 10px;
        background-color: #EEEEEE;
        border-radius: 10px;
        left: 40%;
        top: 934px; }
        .info .language h2 .tr div {
          width: 80%;
          height: 100%;
          background-color: #ce834a;
          border-radius: 10px; }
      .info .language h2 .en {
        position: absolute;
        width: 50%;
        height: 10px;
        background-color: #EEEEEE;
        border-radius: 10px;
        left: 40%;
        top: 1037px; }
        .info .language h2 .en div {
          width: 50%;
          height: 100%;
          background-color: #ce834a;
          border-radius: 10px; } }

/*# sourceMappingURL=style.css.map */
